@import '../../../../Variables';

.container-link {
	color: inherit !important;
	&:hover {
		text-decoration: none !important;
	}
}
.container {
	border-bottom: $border;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 14px;
	&:hover {
		background-color: $secondary-background;
	}
	.tweet {
		margin-top: 5px;
	}
}