@import '../../../../Variables';

.container {
	margin-top: 5px;
	padding: 0;
	font-size: 16px;
	// .icon {
	// 	display: inline-block;
	// 	padding: 4px 7px;
	// 	border-radius: 100%;
	// 	span {
	// 		vertical-align: middle;
	// 	}
	// 	&.discuss:hover {
	// 		color: #339af0;
	// 		background: transparentize(#339af0, 0.8);
	// 	}
	// 	&.retweet:hover {
	// 		color: #82c91e;
	// 		background: transparentize(#82c91e, 0.8);
	// 	}
	// 	&.love:hover {
	// 		color: #ff6b6b;
	// 		background: transparentize(#ff6b6b, 0.8);
	// 	}
	// }
	// .number {
	// 	font-size: 14px;
	// 	margin-left: 10px;
	// }
}