#LeftSidebar {
	.logo-container {
		display: inline-block;
		border-radius: 50%;
		background-color: transparent;
		padding: 9px;
		margin-left: 10px;
		&:hover {
			background-color: $secondary-background;
		}
	}
	#main-menu {
		font-size: $sidebar-font-size;
		font-weight: bold;
		a.nav-link {
			margin-top: 10px;
			color: $sidebar-font-color;
			.fa {
				font-size: 30px;
				margin-right: 15px;
			}
		}
	}
	button {
		margin-left: 10px;
		width: 80%;
		margin-top: 15px;
		border-radius: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
