@import '../../../Variables';

#HomePage {
	border-left: $border;
	border-right: $border;
	.header {
		padding: 10px 20px 6px 20px;
		border-bottom: $border;
		h1 {
			font-size: 20px;
			font-weight: bold;
		}
		.fa {
			font-size: 20px;
		}
	}
}