@import '../../../Variables';

#HomePage--StatusBar {
	border-bottom: $border;
	padding-top: 15px;
	padding-bottom: 15px;
	button {
		padding-left: 20px;
		padding-right: 20px;
	}
	.progress {
		margin-top: 10px;
	}
	.d-flex span {
		font-size: $sidebar-small-font-size;
	}
	#StatusBar--Textarea {
		position: relative;
		.display {
			width: 100%;
			font-size: 16px;
			min-height: 54px;
			position: relative;
			z-index: 1;
			background-color: $primary-background;
			color: $main-font-color;
			overflow-wrap: break-word;
			border: none;
			line-height: 25px;
			padding-bottom: 25px;
			i {
				color: $bootstrap-background;
				font-style: normal; // no italic
			}
			span {
				background: rgb(224, 36, 94);
			}
		}
		textarea {
			display: block;
			width: 100%;
			font-size: 16px;
			min-height: 54px;
			position: absolute;
			z-index: 2;
			height: 100%;
			background-color: transparent;
			color: transparent;
			caret-color: white;
			overflow: hidden; // turn off scrollbar
			border: none;
			resize: none;
			line-height: 25px;
		}
	}
}