@import '../../../Variables';

.container {
	.card {
		background-color: $secondary-background;
		color: $secondary-font-color;
		margin-top: 20px;
		font-size: $sidebar-font-size;
		.card-header {
			font-weight: bold;
			font-size: $sidebar-big-font-size;
			color: $sidebar-font-color;
			button {
				border-radius: 50%;
				font-size: 23px;
				padding: 0px 7px;
				border: none;
				background: none;
				&:hover {
					background-color: $primary-background;
				}
				&:focus {
					box-shadow: none;
				}
			}
		}
		.list-group > .list-group-item {
			background-color: $secondary-background;
			border-top: 1px solid $border-color;
			&:hover {
				background-color: lighten($secondary-background, 5%);
			}
			span {
				font-size: $sidebar-small-font-size;
			}
			h5 {
				font-size: $sidebar-font-size;
				color: $sidebar-font-color;
				font-weight: bold;
				margin-top: 5px;
				margin-bottom: 3px;
			}
			p {
				margin-bottom: 0;
			}
		}
		.card-footer {
			border-top: 1px solid $border-color;
			a {
				text-decoration: none;
			}
		}
	}
}